<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
            <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h2>Datos de Investigacion</h2>
        </header>
        
        <div class="customcontainer">
            <div class="change-password-form" style="top: 13%;">
                <div style="text-align: left;">
                    <a th:href="@{/investigacion/listado}">Regresar</a>
                </div>
                <br/>
                <form th:action="@{/investigacion/guardar}"
                  method="post"
                  th:object="${investigacion}">
                    <input type ="hidden" name="idInvestigacion" th:field="*{idInvestigacion}"/>
                    <label for="investigador">Investigador</label><br/>
                    <input type="text" name="investigador" th:field ="*{investigador}" class="input-form" />
                    <br/>
                    <label for="fecha">Fecha</label><br/>
                    <input type=datetime name="fecha" th:field ="*{fechaInvestigacion}" class="input-form"/>
                    <br/>
                    <label for="especie">Especie</label><br/>
                    <input type="text" name="especie" th:field ="*{especieInvestigacion}" class="input-form" />
                    <br/>
                    <label for="descripcion">Descripción</label><br/>
                    <input type="text" name="descripcion" th:field ="*{descripcionInvestigacion}" class="input-form"/>
                    <br/>
                    <input type ="submit" id="btn-save" value="Guardar" style="margin: auto;"/>            
                </form>
                <br><br>
            </div>
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
        </tbody>
</html>
