<!DOCTYPE html>

<html>
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div class="container">
            <h2>Nuestros Productos</h2>
            <div class="row row-cols-3"
                th:if="${productos !=null and !productos.empty}">
                <div class="card-body" th:each="producto : ${productos}">
                    <h5 class="card-title" th:text="${producto.descripcion}"></h5>
                    <img th:src="@{${producto.rutaImagen}}" width="200" />
                    <h6 class="card-subtitle mf-2 text-muted text-end">
                        [[${new java.text.DecimalFormat('¢#,##0.00').format(producto.precio)+' ('+producto.existencias+')'}]]
                    </h6>
                    
                </div>
            </div>
            <div th:if="${productos == null or productos.empty}">
                No hay productos que mostrar
            </div>
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>  
    </body>
</html>
