<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h1>Zoocriadero</h1>
        </header>
        <br>
        <div class="contenido">
            <a href="/login/login">Ir a login</a>
            <br>
            <a href= "/investigacion/listado">Investigaciones</a>
            <br>
            <a href= "/venta/listado">Ventas</a>  
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
    </body>
</html>
