<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h1>Zoocriadero</h1>
        </header>
        <br>
        <div class="container">
            <div class="menu">
                <h2>Menú principal</h2>
                <a href= "/dieta/index" style="text-decoration: none;
                   font-size: 18px;">
                    <img src="/icons/dieta.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right: 5px;"/>Dieta       
                </a> 
                <br/>
                <hr>
                <br>
                <a href= "/venta/listado" style="text-decoration: none;
                   font-size: 18px; pointer-events: none;">
                    <img src="/icons/historial.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right: 5px; "/>Historial clínico
                </a> 
                <br/>
                <hr>
                <br>
                <a href= "/investigacion/listado" style="text-decoration: none;
                   font-size: 18px;">
                    <img src="/icons/investigacion.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right:5px;"/>Investigaciones
                </a>
                <br/>
                <hr>
                <br>
                <a href= "/venta/listado" style="text-decoration: none;
                   font-size: 18px; pointer-events: none;">
                    <img src="/icons/reporte.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right: 5px;"/>Reporte
                </a> 
                <br/>
                <hr>
                <br>
                <a href= "/venta/listado" style="text-decoration: none;
                   font-size: 18px; pointer-events: none;">
                    <img src="/icons/reproduccion.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right: 5px;"/>Reproducción
                </a>
                <br/>
                <hr>
                <br>
                <a href= "/venta/listado" style="text-decoration: none;
                   font-size: 18px;">
                    <img src="/icons/ventas.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right: 5px;"/>Ventas 
                </a>
                <br/>
                <hr>
                <br>
                <a href="/login/login" style="text-decoration: none;
                   font-size: 18px;">
                    <img src="/icons/logout.png" alt="alt" width="15px;"
                         height="15px;" style="margin-right:5px;"/>Cerrar sesión</a>
                <br><br>
            </div>
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
    </body>
</html>
