<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h2>Datos del Historial Clínico</h2>
        </header>
        <div class="contenido">
            <a th:href="@{/historialClinico/index}">Regresar</a>
            <br>
            <form th:action="@{/historialClinico/guardar}"
                  method="post"
                  th:object="${historialClinico}">
                <input type ="hidden" name="idHistorialClinico" th:field="*{idHistorialClinico}"/>
                <label for="nombreEspecie">Nombre de la especie</label>
                <input type="text" name="nombreEspecie" th:field ="*{nombreEspecie}" />
                <br>
                <label for="caracteristicasFisicas">Características físicas</label>
                <input type="text" name="caracteristicasFisicas" th:field ="*{caracteristicasFisicas}" />
                <br>
                <label for="tipoEspecie">Tipo de especie</label>
                <input type="text" name="tipoEspecie" th:field ="*{tipoEspecie}" />
                <br>
                <label for="fecha">Fecha</label>
                <input type=date name="fecha" th:field ="*{fecha}" />
                <br>
                <label for="tratamiento">Tratmamiento</label>
                <input type="text" name="tratamiento" th:field ="*{tratamiento}" />
                <br>
                <input type ="submit" id="btn-save" value="Guardar"/>            
            </form>
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
    </body>
</html>
