<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h2>Datos de Reproduccion de la especie</h2>
        </header>
        <div class="customcontainer">
            <div class="change-password-form" style="top: 13%;">
                <div style="text-align: left;">
                    <a th:href="@{/reproduccion/index}">Regresar</a>
                </div>
                <br/>
                <form th:action="@{/reproduccion/guardar}"
                  method="post"
                  th:object="${reproduccion}">
                    <input type ="hidden" name="idReproduccion" th:field="*{idReproduccion}"/>
                    <input type ="hidden" name="especie.idEspecie" th:field="*{especie.idEspecie}"/>
                    <label for="nombre">Nombre de la especie</label>
                    <br/>
                    <input th:if="${listEspecies == null or listEspecies.empty}" type="text" name="especie.nombre" th:field ="*{especie.nombre}" disabled class="input-form"/>
                    <select th:if="${listEspecies != null and !listEspecies.empty}" name="especie.idEspecie" class="input-form">
                        <option
                            th:each="item : ${listEspecies}"
                            th:value="${item.idEspecie}"
                            th:text="${item.nombre}"
                        />
                     </select>
                    <br/>
                    <label for="descripcion">Descripción</label><br/>
                    <input type="text" name="descripcion" th:field ="*{descripcion}" class="input-form"/>
                    <br>
                    <label for="fecha">Fecha</label><br/>
                    <input type=date name="fecha" th:field ="*{fecha}" class="input-form"/>
                    <br>
                    <input type ="submit" id="btn-save" value="Guardar" style="margin: auto;"/>            
                </form>
                <br><br>
            </div>
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
    </body>
</html>
