<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>TODO supply a title</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h1>Restablecer contraseña</h1>
        </header>
        <br/>
        <div class="container">
            <div class="change-password-form">
                <form th:action="@{/login/sendMail}"
                  method="post"
                  th:object="${usuario}">
                <label for="descripcion">Por favor ingrese su correo electrónico
                    para
                    <br/>restablecer su contraseña: </label>
                <br/>
                <input type="email" name="correo" th:field="*{correo}" 
                       id="input-change-password" required/>
                <br/>
                <input type="submit" id="btn-change-password" value="Restablecer contraseña" />
            </form>
            </div>
            
        </div>
    </body>
</html>
