<!DOCTYPE html>
<!--
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/html.html to edit this template
-->
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Restablecer contraseña</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <div id="loader"></div>
        <header class="header">
            <h1>Restablecer contraseña</h1>
        </header>
        <br/>
        <div class="customcontainer">
            <div class="change-password-form">
                <form th:action="@{/login/sendMail}"
                      method="post"
                      th:object="${usuario}">
                    <label for="descripcion">Por favor ingrese su correo electrónico
                        para
                        <br/>restablecer su contraseña: </label>
                    <br/>
                    <input type="email" name="correo" th:field="*{correo}" 
                           class="input-form" required/>
                    <br/>
                    <input type="submit" id="btn-change-password" value="Restablecer contraseña" onclick="myFunction()" />
                    <div class="aParent">
                        <div>
                            <a href="/login/login" style="color: #301934;
                               font-size: 14px; text-decoration: transparent">
                                ⬅ Volver a login</a>
                        </div>
                    </div>
                </form>
            </div>
            <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
        </div>
        <script>
            function myFunction() {
                document.getElementById("loader").style.display = "block";
            }
        </script>
    </body>
</html>
