<!DOCTYPE html>

<html xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h2>Datos de Reportes</h2>
        </header>
        <div class="contenido">
            <a th:href="@{/reporte/listado}">Regresar</a>
            <br>
            <form th:action="@{/reporte/guardar}"
                  method="post"
                  th:object="${reportes}">
                <input type ="hidden" name="idReporte" th:field="*{idReporte}"/>
                <label for="fechaInicio">Fecha de inicio</label>
                <input type="date" name="fechaInicio" th:field ="*{fechaInicio}" />
                <br>
                <label for="fechaFinal">Fecha final</label>
                <input type="date" name="fechaFinal" th:field ="*{fechaFinal}" />
                <br>
                <label for="tipoReporte">Tipo de reporte</label>
                <input type="text" name="tipoReporte" th:field ="*{tipoReporte}" />
                <br>                
                <input type ="submit" id="btn-save" value="Guardar"/>            
            </form>
        </div>
        <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
    </body>
</html>
