.header{
    background-color: #301934 ;
    height: 80px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
    color: whitesmoke;
    margin-bottom: 40px;
}

.customcontainer{
    background-color: whitesmoke;
    position: fixed;
    top: 80px;
    bottom: 20px;
    left: 0;
    width: 100%;
    overflow: auto;
    text-align: center;
}

#login-form{
    padding-top: 70px;
    padding-bottom: 70px;

}

#user-form{
    width: 250px;
    height: 30px;
    background-color: white;
    color: #301934 ;
}

#password-form{
    width: 250px;
    height: 30px;
    background-color: white;
    color: #301934 ;
}

input{
    border-color: whitesmoke;
    border-width: 0.1px;
}

#btn-login{
    background-color: #301934 ;
    color: whitesmoke;
    width: 125px;
    padding: 5px;
    border-radius: 10px;
}

#change-password{
    font-size: 12px;
    color: #301934;
}

.container-form{
    background-color: white;
    position: relative;
    top: 13%;
    text-align: center;
    margin-left: 35%;
    margin-right: 35%;
}

.footer {
    background-color: black;
    text-align: center;
    color: white;
    height: 20px;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%
}

.change-password-form{
    top: 20%;
    background-color: lightsteelblue;
    position: relative;
    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 7px;
    color: whitesmoke;

}

#btn-change-password{
    background-color: #301934 ;
    color: whitesmoke;
    padding: 5px;
    border-color: #301934;
}

.input-form{
    width: 300px;
    margin: 15px;
    height: 30px;
}

.tablas{
    top: 200px;
    background-color: lightsteelblue;
    position: fixed;
    padding: 30px;
    margin-left: 30%;
    margin-right: 30%;
    border-radius: 7px;
    color: whitesmoke;

}

.contenido{
    top: 200px;
    background-color: lightsteelblue;
    position: fixed;
    padding: 30px;
    margin-left: 45%;
    margin-right:45%;
    border-radius: 7px;
    color: whitesmoke;
}

#btn-save{
    top:10px;
    background-color: #301934 ;
    position: relative;
    color: whitesmoke;
    width: 125px;
    margin-left: 15%;
    margin-right:40%;
    padding: 10px;
    border-radius: 10px;
}

.aParent div {
    float: left;
    clear: none;
}

.menu{
    border-radius: 7px;
    background-color: lightsteelblue;
    color: whitesmoke;
    padding: 5px;
    position: relative;
    top: 5%;
    margin-left: 40%;
    margin-right: 40%;
}

hr{
    background-color: whitesmoke;
    border-color: whitesmoke;
    height: 0px;
}

/* Center the loader */
#loader {
    position: absolute;
    left: 52%;
    top: 50%;
    z-index: 1;
    width: 50px;
    height: 50px;
    margin: -76px 0 0 -76px;
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid #301934;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    display: none;
}

@-webkit-keyframes spin {
    0% {
        -webkit-transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.btn-options{
    background-color: lightsteelblue;
    padding: 10px;
    border-radius: 5px;
    color: whitesmoke;
    text-decoration: none;
    margin: 15px;
    
}