<!DOCTYPE html>

<html>
    <head>
        <title>Zoocriadero</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link href="/css/main.css" rel="stylesheet" type="text/css"/>
    </head>
    <body>
        <header class="header">
            <h2>Datos de Venta</h2>
        </header>
        
        <div class="customcontainer">
            <div class="change-password-form" style="top: 13%;">
                <div style="text-align: left;">
                    <a th:href="@{/venta/listado}">Regresar</a>
                </div>
                <br/>
                <form th:action="@{/venta/guardar}"
                  method="post"
                  th:object="${venta}">
                    <input type ="hidden" name="idVenta" th:field="*{idVenta}"/>
                    <label for="descripcion">Descripción</label><br/>
                    <input type="text" name="descripcion" th:field ="*{descripcion}" class="input-form"/>
                    <br/>
                    <label for="fecha">Fecha</label><br/>
                    <input type=datetime name="fecha" th:field ="*{fechaVenta}" class="input-form"/>
                    <br/>
                    <label for="total">Total</label><br/>
                    <input type="number" name="total" th:field ="*{total}" class="input-form"/>
                    <br/>
                    <label for="tipoPago">Tipo de Pago</label><br/>
                    <input type="text" name="tipoPago" th:field ="*{tipoPago}" class="input-form"/>
                    <br/>
                    <input type ="submit" id="btn-save" value="Guardar" style="margin: auto;"/>            
                </form>
                <br><br>
            </div>
        </div>
    <footer class="footer">&COPY; Derechos Reservados, Curso SC-403 G3, Universidad Fidélitas</footer>
</body>
</html>
